@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D9C7B5;
}

main {
    padding: 16px;
    margin-bottom: 16px;
}

main a {
    text-decoration: none;
}

footer {
    padding-top: 24px 0px;
    background-color: #594530;
    font-size: large;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 3px solid #D9A774;
    box-sizing: border-box;
}

img {
    height: 200px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav {
    border-bottom: 3px solid #D9A774;
    padding: 16px;
    background-color: #8C6C4B;
    }

nav a {
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: white;
}

a:hover {
    color: green;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer p {
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 2px black
}

table tr:nth-child(even) {
    background-color: #D9A774;
}
